/* General Styles */
body {
  font-family: 'Lato', sans-serif;
  color: #0D3621; 
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
header .brand {
  font-size: 24px;
  font-weight: bold;
  color: #0D3621; 
}

nav a {
  color: #0D3621; 
}
/* Main Section */
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5% 10%;
  margin-left: 40%;
  min-height: 80vh;
  position: relative;
}

/* Dark Pink Rectangle */
.dark-pink-rectangle {
  position: fixed;
  top: 88px;
  left: 0;
  width: 40%; 
  height: 100vh;
  background-color: #C5A9A9;
  z-index: -1;
}

/* Lighter Pink Rectangle */
.profile {
  background-color: #DAC1C1;
  width: 80%; 
  padding: 5px;
  margin-top: 5%;
  min-height: 500px;
  position: absolute;
  margin-left: 30%; 
  margin-top: 15%; 
  z-index: 1; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

/* Profile Photo Styling */
.profile-photo { 
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover; 
  margin-bottom: 30px;
}

.profile-name {
  font-size: 30px;
  color: #0D3621; 
}

/* Right Content */
.right-content {
  flex: 1;
  padding-left: 5%;
  margin-top: 20vh;
  z-index: 3;
}

.right-content h1 {
  font-family: 'Merriweather', serif;
  color: #0D3621 !important; 
  font-size: 3em;
  margin: 0;
}

.right-content p {
  color: #555;
}

/* Buttons */
.cta-buttons .btn-success,
.cta-buttons .btn-outline-success {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

/* Button Styles */
.cta-buttons .btn-success {
  background-color: #0D3621; 
  color: #fff;
  border: none;
}

.cta-buttons .btn-success:hover {
  background-color: #0D3621; 
  color: #fff;
}

.cta-buttons .btn-outline-success {
  border: 2px solid #0D3621; 
  color: #0D3621; 
}

.cta-buttons .btn-outline-success:hover {
  background-color: #0D3621; 
  color: #fff;
  border-color: #0D3621;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
}

footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .call-info div,
footer .email-info div {
  margin-bottom: 5px;
}
