/* Header */
header .brand {
    font-size: 24px;
    font-weight: bold;
    color: #0D3621; 
  }
  
  nav a {
    color: #0D3621; 
  }

/* General styles */
body {
    background-color: #c5a9a9;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

/* Experience section */
.experience-section {
    width: 80%;
    max-width: 800px;
    text-align: center;
    margin-top: 40px;
  }
  
  /* Each experience box */
  .experience-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    text-align: left;
  }
  
  /* Content inside the experience box */
  .experience-content h4 {
    color: #6d6d6d;
    font-weight: bold;
  }
  
  .experience-content h5 {
    color: #333;
    margin: 5px 0;
  }
  
  .experience-content p {
    color: #555;
    margin: 5px 0;
  }  

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f6f6f6;
  }
  
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  footer .call-info div,
  footer .email-info div {
    margin-bottom: 5px;
  }
